.profile-image-container {
    width: 100%;
    height: 19.81rem;
    overflow: hidden;
    cursor: pointer;
}

.profile-image-container__image {
    width: 100%;
	height: 100%;
	object-fit: cover;
    transition: scale 500ms;
}

.profile-image-container__image:hover {
    scale: 1.2;
}